body {

    min-width: 1050px;
    margin: 0;
    padding: 0;
}

#root {}



.fc-view,
.fc-view>table {
    z-index: 0;
}

body .fc .fc-row {
    border: none;
}

.fc-icon-right-double-arrow:after,
.fc-icon-left-double-arrow:after,
.fc-icon-right-single-arrow:after,
.fc-icon-left-single-arrow:after {
    /* centering icons in prev next buttons */
    top: 0
}

#main {
    max-height: 100%;
    max-width: 100%;
}

span.p-column-title {
    white-space: nowrap;
}

td:hover {
    cursor: pointer;
}

div.toolbar {
    display: flex;
    padding: .25em;
}

.p-datatable-auto-layout>.p-datatable-wrapper {
    overflow-x: initial;
}

.expand-container {
    display: flex;
    flex-wrap: wrap;
}

.expand-controls {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

/* custom scrollbar */

::-webkit-scrollbar {
    width: 0px;
    height: 10px;
}

::-webkit-scrollbar-track {
    box-shadow: none;
}

::-webkit-scrollbar-thumb {
    background: #0282e4;
    border-radius: 10px;
}