@import '../../variables';
.login-form {
    background: #0b0c10;
    padding: 2vw 4vw;
    border-radius: 12px;
    width: 50%;
    box-shadow: 3px 4px 11px;

}
.login-form-end{
    display: flex;
    justify-content: flex-end;
}
.login-form-label{
    font-family: $semiBoldFont;
    color: white;
    text-align: left;
    font-size: 1.2rem;
    display: flex;
    justify-content: space-between
}
.error-message{
    color: red;

}

@media screen and (max-width: 600px){
    .login-form {width: 95%}
}