.applicant-card {
    width: 100%;
    display: flex;
    flex-direction: column;
}

textarea {
    resize: none;
    border-radius: 8px;
}

.applicant-grade, .applicant-progress, .applicant-card-summary {
    text-align: center
}

.applicant-card-summary {
    display: flex;
    align-items: center;
}

.applicant-card-details {
    transition: 1s all;
    display: flex;
    width: 100%;
    overflow: hidden;
}

.applicant-card:hover {
    cursor: pointer;
}

.applicant-card-details.show {
    max-height: 300px;
}

.applicant-card-details.hide {
    max-height: 0;
}

.applicant-notes {
    display: flex;
    flex-direction: column;
    width: 40%;
    justify-content: space-around;
}

.applicant-notes-section {
    height: 35%;
    width: 95%;
    display: flex;
    flex-direction: column;
}