@import '../../variables';
.top-nav{
  display:flex;
  justify-content: space-between;
  align-items: center;
  background: #0b0c10;
  min-height: 30px;
  height: 5%;
  
}
.top-nav__left{
  height: 100%;
   display:flex;
   align-items: center;
}
.top-nav__right{
  height: 100%;
  display:flex;
  align-items: center;
}
