.admin-form{
width: 50%;
display: flex;
flex-direction: column;


}
.admin-form-question{
    display: flex;
    flex-direction: column;
color: white;
    padding: 10px 0px;
    label{
        margin-left: 10px
    }
}
.button-container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    width: 100%;
}
.label{
    display: block;
}
.admin-input-container{
 display: flex;
}
.padding{
    padding: 0px 10px;
}
.questionInput{
    border-radius: 6px;
    width: 75%;
    margin: 2px 10px; 
}
.questionInput:focus{
    border-color: #66fcf1;
}
#question{
    width: 100%;
}
