@import '../../../variables';
.flex-around{
    display: flex;
    justify-content: space-around;

}
.padding{
    padding:  2vw;
}
.skipped{
    white-space: nowrap;
}
.grade{
font-family: $boldFont;
}
.low{
color: red;
}
.high{
    color: green
}