.form {


    .form-bottom {
        display: flex;
        justify-content: center;
    }

    .form-field {
        padding: .5em;

    }

    .form-control {

        padding: 1em;
    }

    .form-group {
        display: flex;
    }

    .p-autocomplete {
        display: flex;
    }
}

.p-autocomplete .p-autocomplete-dropdown {
    height: auto;
}

body .p-message.p-message-error {
    background-color: rgba(233, 18, 36, .5);
    position: absolute;
    margin-left: .5em;
    white-space: nowrap;
}