form {
    width: fit-content;

}

.form-controls {
    padding: 3px 10px;
}

.form-center-top {
    display: flex;
    justify-content: space-evenly;
}

.form-footer {
    display: flex;
    justify-content: flex-end;
}