// general

* {
    box-sizing: border-box;
    font-size: 12px;


}

/* 
hex colors
#2c303a
#007ad9
#bad1cd
#e6e6e6
#ffffff
*/

/* 
rgba(44, 48, 58, 1);
rgba(0, 122, 217, 1);
rgba(186, 209, 205, 1);
rgba(230, 230, 230, 1);
rgba(255, 255, 255, 1); 
*/

body {

    width: 100vw;
    height: 100vh;
    max-height: 100vh;
    min-height: 580px;
    min-width: 1050px;
    margin: 0;
    padding: 0;
    overflow: hidden;
    overflow-x: auto;

    h1 {
        font-size: 1.2em;
    }

    h4 {
        font-size: 1.1em;
    }



    .subtitle {
        opacity: .7;
        margin: .2em;

    }
}



body .fc .fc-row {
    border: none;
}

#root {
    height: 100%;
    width: 100%;

}

#main {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-bottom: 5px;

}

// actions
.submenu-selector:hover,
.side-card:hover {
    cursor: pointer;
}

// specific
.postings {
    display: flex;
    height: 100%;

    .p-card-subtitle {
        padding: 0 .5em;
    }

    .posting-header {
        padding-left: 1em;
    }

    .posting-heading-bottom {
        display: flex
    }

    .postings-left {
        overflow-y: auto;
        width: 20%;
        max-width: 250px;
        background: #e6e6e6;
    }

    .postings-right {
        display: flex;
        flex-direction: column;
        width: stretch;
    }

    .postings-body {
        display: flex;
    }

    .postings-body-left {
        min-width: 400px;
        display: flex;
        flex-direction: column;


    }

    .postings-body-right {
        width: 50%;
        height: 100%;

    }

    .postings-body-left-top {
        display: flex;
        align-items: center;
        min-height: fit-content;
        padding: .75em 1em;

    }

    .postings-body-left-bottom {
        overflow-y: auto;
        padding: .75em;
    }


}


.side-card {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: .5em;

    .side-card-top {
        display: flex;
        align-items: center
    }





}



.total-cir {
    background: #007ad9;
    border-radius: 50%;
    color: white;
    width: 1.2em;
    height: 1.2em;

    text-align: center;
    margin: 0 .5em
}

.jobcard {
    border-radius: 4px;
    box-shadow: 1px 1px 1px 1px #a5a0a0;
    display: flex;
    align-items: center;
    margin-bottom: .5em;
    height: 70px;



    .jobcard-left {
        width: 45%;
        padding: 1em 0em 1em 1em;
        display: flex;
        align-items: center
    }

    .jobcard-center {
        width: 40%;
        padding: 1em 0em;

    }

    .jobcard-right {
        width: 15%;
        text-align: center;
        padding: 1em 1em 1em 0em;

    }

    .p-card-subtitle {
        margin: 0
    }

    .jobcard-image {
        border-radius: 50%;
        height: 3em;
        margin-right: .5em;
    }

}



.jobcard:hover {
    cursor: pointer;
    transform: scale(1.01)
}

.overview-card {
    width: 100%;
    padding: 1em;

    .overview-card-top {
        display: flex;
        justify-content: center;
        padding: 1em;
    }


    .overview-card-top-left {
        display: flex;
        justify-content: flex-end;
        width: 50%;
        padding: .5em;
    }

    .overview-card-photo {
        border-radius: 50%;
        height: 60px;
    }

    .overview-card-top-right {
        width: 50%;
        padding: .5em;

    }

    .overview-card-middle {
        display: flex;
        align-items: center;

    }

    .overview-card-bottom {
        padding: 2em
    }
}

.summary-card {
    display: flex;
    align-items: center;
    padding: .15em;
}

.submenu-selector {
    display: flex;
    background: #e6e6e6;
    justify-content: space-evenly;

    .submenu-selector-option {
        display: flex;
        width: stretch;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: fit-content;
    }



    .submenu-selector-option-title {
        margin: 1em;
    }


}

.selected {
    background: #007ad9;
}



.profile-top {
    box-shadow: rgb(165, 160, 160) 1px 1px 1px 1px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em;
}





.profile-middle {
    display: flex;
}

.profile-middle-left {
    width: 70%
}

.profile-controls {
    display: flex;
    width: 40%;
    justify-content: space-between;
}

.info-section {
    padding-left: 2em;
    box-shadow: rgba(165, 160, 160, .15) 0px 1px 0px 0px;
}

.section-item {
    margin: .5em;
    width: 165px;
}

.fc-view,
.fc-view>table {
    z-index: 0;
}


.title {
    margin: 0;
}

.fc-icon-right-double-arrow:after,
.fc-icon-left-double-arrow:after,
.fc-icon-right-single-arrow:after,
.fc-icon-left-single-arrow:after {
    /* centering icons in prev next buttons */
    top: 0
}

.form {


    .form-bottom {
        display: flex;
        justify-content: center;
    }

    .form-field {
        padding: .5em;

    }

    .form-control {

        padding: 1em;
    }

    .form-group {
        display: flex;
    }

    .p-autocomplete {
        display: flex;
    }
}

.p-autocomplete .p-autocomplete-dropdown {
    height: auto;
}

body .p-message.p-message-error {
    background-color: rgba(233, 18, 36, .5);
    position: absolute;
    margin-left: .5em;
    white-space: nowrap;
}

span.p-column-title {
    white-space: nowrap;
}

td:hover {
    cursor: pointer;
}


.p-datatable-auto-layout>.p-datatable-wrapper {
    overflow-x: initial;
}

.expand-container {
    display: flex;
    flex-wrap: wrap;
}

.expand-controls {
    display: flex;
    width: 100%;
    justify-content: space-between;
}




/* custom scrollbar */

::-webkit-scrollbar {
    width: 5px;
    height: 6px;
}

::-webkit-scrollbar-track {
    box-shadow: none;
}

::-webkit-scrollbar-thumb {
    background: #0282e4;
    border-radius: 10px;
}