@font-face {
  font-family: 'Poppins-Regular';
  src: url("/src/assets/typograpgy/Poppins-Regular.ttf");
}

@font-face {
  font-family: 'Poppins-Italic';
  src: url("/src/assets/typograpgy/Poppins-Italic.ttf");
}

@font-face {
  font-family: 'Poppins-SemiBold';
  src: url("/src/assets/typograpgy/Poppins-SemiBold.ttf");
}

@font-face {
  font-family: 'Poppins-SemiBoldItalic';
  src: url("/src/assets/typograpgy/Poppins-SemiBoldItalic.ttf");
}

@font-face {
  font-family: "Poppins-Bold";
  src: url("/src/assets/typograpgy/Poppins-Bold.ttf");
}

@font-face {
  font-family: "Poppins-BoldItalic";
  src: url("/src/assets/typograpgy/Poppins-BoldItalic.ttf");
}

/* general universal styles */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -moz-box-sizing: border-box;
  font-family: "Poppins-Regular";
}

a {
  color: #02336C;
}

.App {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: #1f2833;
}

.app-name {
  text-decoration: none;
  font-family: "Poppins-BoldItalic";
  color: white;
  margin: 0;
  letter-spacing: 3px;
  padding: 0px 1vw;
  text-align: center;
}

.main-container {
  height: 95%;
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
}

.main-left {
  width: 350px;
  background: #056571;
}

.main-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

.main-right-top {
  width: 100%;
  height: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 2vw;
}

.main-right-top__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  white-space: nowrap;
}

.main-right-top__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-right-bottom {
  height: 95%;
  padding: 0px 2vw 2vw;
}

.sub-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #0b0c10;
}

.horizontal-nav-link {
  text-decoration: none;
  color: #ffffff;
  font-family: "Poppins-SemiBold";
  text-align: center;
  white-space: nowrap;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0px 20px;
}

.horizontal-nav-link:hover,
.vertical-nav-link:hover {
  background: #595959;
}

.vertical-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #0b0c10;
}

.vertical-nav-link {
  text-decoration: none;
  color: #ffffff;
  font-family: "Poppins-SemiBold";
  padding: 10px;
  width: 100%;
  white-space: nowrap;
}

.nav-bg {
  background: #3a3a3a;
}

.main-left-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.table-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  font-family: "Poppins-SemiBold";
  text-decoration: none;
  padding: 5px 20px;
}

.table-link:hover {
  background: #dadada;
  font-family: "Poppins-SemiBoldItalic";
}

.input-field {
  width: 100%;
  border-radius: 5px;
  outline: none;
  border: #acacac solid thin;
  margin: 4px 0px 10px;
  font-size: 1rem;
  color: black;
  padding: 4px;
}

.input-field:focus {
  border: blue thin solid;
}

.form-button {
  font-family: "Poppins-Bold";
  height: 40px;
  border-radius: 6px;
  outline: none;
  width: 110px;
  border: #66fcf1 solid thin;
  background: rgba(0, 0, 0, 0);
  color: white;
  -webkit-box-shadow: #66fcf1 1px 1px 3px;
          box-shadow: #66fcf1 1px 1px 3px;
}

.form-button:hover {
  cursor: pointer;
}

/* Universal Classes */
.active-link {
  background: rgba(255, 255, 255, 0.05);
}

.show {
  display: block;
}

.hide {
  display: none;
}

.general-message-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.general-message {
  font-family: "Poppins-Bold";
}

.title {
  margin: 0;
  color: white;
}
/*# sourceMappingURL=App.css.map */